<p id="notice"><%= notice %></p>

<%= javascript_tag do %>

var lastId = <%= @measures.last.id %>;

var hodnotyTeplota = [
  <% 
  i = 0
  @measures.each do |measure| %>
  [ new Date(<%= measure.created_at.to_time.to_i * 1000 %>),<%= measure.temperature %>]<% if i < @measures.length - 1 %>,<% end %>
  <% i = i+1; end %>
];

var hodnotyVlhkost = [
  <% 
  i = 0
  @measures.each do |measure| %>
  [ new Date(<%= measure.created_at.to_time.to_i * 1000 %>),<%= measure.humidity %>]<% if i < @measures.length - 1 %>,<% end %>
  <% i = i+1; end %>
];

var hodnotyPlyn = [
  <% 
  i = 0
  @measures.each do |measure| %>
  [ new Date(<%= measure.created_at.to_time.to_i * 1000 %>),<%= measure.gas %>]<% if i < @measures.length - 1 %>,<% end %>
  <% i = i+1; end %>
];
<% end -%>

<script type="text/javascript">

  function nactiNove() {
    $.get("/measures/loadnew/" + lastId, function(data, status) {
      if (data.length > 0) {
        data.forEach(function(entry) {
          dataTeplota.addRow([new Date(entry["timestamp"] * 1000), entry["temperature"]]);
          dataVlhkost.addRow([new Date(entry["timestamp"] * 1000), entry["humidity"]]);
          dataPlyn.addRow([new Date(entry["timestamp"] * 1000), entry["gas"]]);
          if (entry["id"] > lastId) {
            lastId = entry["id"];
          }
        });
        chartTeplota.draw(dataTeplota, optionsTeplota);
        chartVlhkost.draw(dataVlhkost, optionsVlhkost);
        chartPlyn.draw(dataPlyn, optionsPlyn);
      }
      setTimeout(function() { nactiNove(); }, 1000);
    });
  }
  
  // Load the Visualization API and the corechart package.
  google.charts.load('current', {'packages':['corechart']});

  // Set a callback to run when the Google Visualization API is loaded.
  google.charts.setOnLoadCallback(drawCharts);

  var dataTeplota = null;
  var dataVlhkost = null;
  var dataPlyn = null;
  var chartTeplota = null;
  var chartVlhkost = null;
  var chartPlyn = null;
  var optionsVlhkost = null;
  var optionsTeplota = null;
  var optionsPlyn = null;

  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawCharts() {

    dataTeplota = new google.visualization.DataTable();
    dataTeplota.addColumn('date', 'Čas');
    dataTeplota.addColumn('number', 'Teplota');
    dataTeplota.addRows(hodnotyTeplota);

      optionsTeplota = {
        hAxis: {
          format: 'HH:mm', title: 'Čas'
        },
        vAxis: {
          title: '°C'
        },
        series: {
          0: {curveType: 'function', color: 'red'}
        }
      };

    // Instantiate and draw our chart, passing in some options.
    chartTeplota = new google.visualization.LineChart(document.getElementById('graf_teplota'));
    chartTeplota.draw(dataTeplota, optionsTeplota);

    dataVlhkost= new google.visualization.DataTable();
    dataVlhkost.addColumn('date', 'Čas');
    dataVlhkost.addColumn('number', 'Vlhkost');
    dataVlhkost.addRows(hodnotyVlhkost);

      optionsVlhkost = {
        hAxis: {
          format: 'HH:mm', title: 'Čas'
        },
        vAxis: {
          title: '%'
        },
        series: {
          0: {curveType: 'function', color: 'blue'}
        }
      };

    // Instantiate and draw our chart, passing in some options.
    chartVlhkost = new google.visualization.LineChart(document.getElementById('graf_vlhkost'));
    chartVlhkost.draw(dataVlhkost, optionsVlhkost);

    dataPlyn= new google.visualization.DataTable();
    dataPlyn.addColumn('date', 'Čas');
    dataPlyn.addColumn('number', 'Plyn');
    dataPlyn.addRows(hodnotyPlyn);

      optionsPlyn = {
        hAxis: {
          format: 'HH:mm', title: 'Čas'
        },
        vAxis: {
          title: '%'
        },
        series: {
          0: {curveType: 'function', color: '#ffcc00'}
        }
      };

    // Instantiate and draw our chart, passing in some options.
    chartPlyn = new google.visualization.LineChart(document.getElementById('graf_plyn'));
    chartPlyn.draw(dataPlyn, optionsPlyn);

    setTimeout(function() { nactiNove(); }, 1000);
  }
</script>

<table style="position: absolute; top: 0; bottom: 0; left: 0; right: 0;height:100%;width: 100%">
  <tr style="height: 33%;width: 100%">
      <td>
        <h1>Teplota</h1>
        <div id="graf_teplota"></div>
      </td>
  </tr>
  <tr style="height: 33%;width: 100%">
      <td>
        <h1>Vlhkost</h1>
        <div id="graf_vlhkost"></div>        
      </td>
  </tr>
  <tr style="height: 33%;width: 100%">
    <td>
      <h1>Plyn</h1>
      <div id="graf_plyn"></div>
    </td>
  </tr>
</table>
