<%= form_with(model: setting, local: true) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
        <% setting.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :intervalseconds %>
    <%= form.text_field :intervalseconds %>
  </div>

  <div class="field">
    <%= form.label :alerttype %>
    <%= form.text_field :alerttype %>
  </div>

  <div class="field">
    <%= form.label :temperaturealert %>
    <%= form.text_field :temperaturealert %>
  </div>

  <div class="field">
    <%= form.label :humidityalert %>
    <%= form.text_field :humidityalert %>
  </div>

  <div class="field">
    <%= form.label :gasalert %>
    <%= form.text_field :gasalert %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
